
body {
  font-family: monospace;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;

}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-family: monospace;
  outline: none;
}

button {
  padding: 10px 20px;
  font-family: monospace;
  background-color:black;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #008080;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.checkbox-container {
  display: flex;
  align-items: center;

}

.checkbox {
  margin-right: 10px;
  padding:200px;
 
}

.task-text {
  flex: 1;
  margin-left: 10px;



}

.delete-btn {
  background-color: black;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 2px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #008080;
}

.clean{
text-align: center;
}